<html>
<head>
    {% load static %}
    <script src="{% static 'cdn/html5-qrcode.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}"> 
</head>
<body>
    <div class="data-div">
        <h1>Scanning Result</h1>
        <a href="{% url 'review_url'%}">Review</a>
    </div>

    <div class="read-div">
        <h1>QR Code Scanner</h1>
        <div id="reader"></div>
        <div id="result"></div>
        <script>
            const scanner= new Html5QrcodeScanner('reader',{
                qrbox:{
                    width:250,
                    height:250,
                },
                fps:20,
            });
            scanner.render(success, error);
            function success(result) {
                document.getElementById('result').innerHTML = `
                <h2>Success!</h2>
                <p><a href="${result}">${result}</a></p>
                `;
    
                // scanner.clear();
    
                // // document.getElementById('reader').remove();
            }
            function error(err){
                console.error(err);
            }
        </script>
    </div>
</body>
</html>
